<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 translate class="display-3">THOEP(Tracking health of elderly people)</h1>
        <p></p>
        <p><a translate class="btn btn-primary btn-lg" href="#" role="button" routerLink="/register">Signup</a>&nbsp; <a translate class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Login</a></p>   
      </div>
    </div>
  </main>